.references-container{
    border: 1px solid black;
    margin-top: 20px;
    width: 65%;
    margin-left: 250px;
}

.btn-edit, .btn-delete {
    margin-top: 25px;
    display: inline;

}
.btn-delete{
    margin-left: 5px;
}
